{% load dish_source_tags static %}
<div id="header" class="recipe-section">
    <div id="recipe-title" class="text-primary">{{ recipe.name }}</div>
    <div id="category" class="text-secondary">
        <span id="category-name">{{ recipe.category.name }}</span>{% if recipe.subcategory %}<span id="category-divider"> - </span><span id="subcategory-name">{{ recipe.subcategory.name }}</span>{% endif %}
    </div>
    <div id="source">
        <span id="source-label">Source: </span>
        <span id="source-value">
        {% if recipe.source %}
            {% if recipe.source.name %}
                {{ recipe.source.name }}
            {% elif recipe.source.url %}
                <a href="{{ recipe.source.url }}" target="_blank" rel="noreferrer noopener">{{ recipe.source.url }}</a>
            {% endif %}
        {% endif %}
        </span>
    </div>
    <div id="tags">
        {% if recipe.tags.all %}
        {% for tag in recipe.tags.all %}<span class="badge badge-primary mr-1">{{ tag.name }}</span>{% endfor %}
        {% else %}
        <br/>
        {% endif %}
    </div>
    <div id="yields">
        {% if recipe.yields.all %}
        <span id="yields-label">Yields: </span>
        <span id="yields-value">{% for yield in recipe.yields.all %}{% format_quantity yield %}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
        {% endif %}
    </div>
    {% if recipe.prep_duration_min %}
    <div id="prep-duration"><span id="prep-duration-label">Prep Duration: </span><span id="prep-duration-value">{% format_prep_duration recipe %}</span></div>
    {% endif %}
    {% if recipe.cook_duration_min %}
    <div id="cook-duration"><span id="cook-duration-label">Cook Duration: </span><span id="cook-duration-value">{% format_cook_duration recipe %}</span></div>
    {% endif %}
    {% if recipe.prep_duration_min or recipe.cook_duration_min %}
    <div id="total-duration"><span id="total-duration-label">Total Duration: </span><span id="total-duration=-value">{% format_total_duration recipe %}</span></div>
    {% endif %}
</div>
<div id="description" class="recipe-section">
    {{ recipe.description|safe }}
</div>
<div id="ingredients" class="recipe-section">
    <h5>Ingredients</h5>
    <div id="ingredients-container">
    {% for ingredient_section in recipe.ingredient_sections.all %}
        <div class="ingredient-section">
            <p class="ingredient-section-header">{{ ingredient_section.name | default_if_none:"" }}</p>
            <ul class="ingredient-list">
                {% for ingredient in ingredient_section.ingredients.all %}
                <li class="recipe-ingredient-item">{% format_ingredient ingredient %}</li>
                {% for sub in ingredient.substitutions.all %}
                {% for sub_ingredient in sub.ingredients.all %}
                <li class="recipe-ingredient-item {% if forloop.first %}first-{% endif %}sub-item">{% format_ingredient sub_ingredient %}</li>
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>
<div id="instructions" class="recipe-section">
    <h5>Instructions</h5>
    <div id="instructions-container">
    {% for instruction_section in recipe.instruction_sections.all %}
        <div class="instruction-section">
            <p class="instruction-section-header">{{ instruction_section.name | default_if_none:"" }}</p>
            <ol class="instruction-list" start="{{ instruction_section.numbering_start }}">
                {% for instruction in instruction_section.instructions.all %}
                <li>{{ instruction.instruction|safe }}</li>
                {% endfor %}
            </ol>
        </div>
    {% endfor %}
    </div>
</div>
<div id="variations" class="recipe-section">
    {% if recipe.variations.all %}
    <h5>Variations</h5>
    <div id="variations-container">
    {% for variation in recipe.variations.all %}
        <div class="recipe-variation">
            <p class="variation-name">{{ variation.name }}</p>
            <div class="variation-content">{{ variation.variation|safe }}</div>
        </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
<div id="notes" class="recipe-section">
    {% if recipe.notes %}
    <h5>Notes</h5>
    <div id="notes-container"><div id="notes-wrapper">
        {{ recipe.notes | safe }}
    </div></div>
    {% endif %}
</div>
