{% load dish_source_filters %}

<div class="card" style="margin-top: 1rem; margin-bottom: 1rem">
    <a class="card-header bg-dark text-white" id="category-{{ category.slug }}" href="{% url 'category' category_id=category.id slug=category.slug %}">{{ category.name }}</a>
    <div class="list-group list-group-root">
    {% for item in category.all_recipes %}
        {% if item|is_recipe %}
        <a class="list-group-item list-group-item-action py-1" id="recipe-{{ item.slug }}" href="{% url 'recipe' recipe_id=item.id slug=item.slug %}">
            {{ item.name }}
            {% for tag in item.tags.all %}<span class="badge badge-primary mx-1 float-right">{{ tag.name }}</span>{% endfor %}
        </a>
        {% else %}{# Item is subcategory #}
        <div class="list-group-item py-1" id="subcategory-{{ item.slug }}"><a class="text-body" href="{% url 'category' category_id=category.id slug=category.slug %}#subcategory-{{item.slug}}"><b>{{ item.name }}</b></a></div>
        <div class="list-group list-group">
        {% for recipe in item.recipes.all %}
            <a class="list-group-item list-group-item-action py-1" id="subcategory-{{ item.slug }}" href="{% url 'recipe' recipe_id=recipe.id slug=recipe.slug %}">{{ recipe.name }}
                {% for tag in recipe.tags.all %}
                <span class="badge badge-primary mx-1 float-right">{{ tag.name }}</span>
                {% endfor %}
            </a>
        {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
