{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto;">
    <div class="card-header bg-danger text-white">{{ title }}</div>
    <div class="card-body">
        <p class="text-danger">Are you sure you want to delete your account? This operation cannot be undone!</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group row mx-0">
                <input class="btn btn-danger" type="submit" value="Yes, delete my account">
            </div>
        </form>
    </div>
</div>
{% endblock %}
