{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto;">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    <div class="card-body">
        {% if 'success' in request.GET %}
        <p class="text-success">Account settings saved successfully</p>
        {% endif %}
        {% if form.errors %}
        <p class="text-danger">{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}</p>
        {% endif %}
        <form method="post" action="{% url 'account_settings' %}">
            {% csrf_token %}
            <div class="form-group row">
                {{ form.username | label_with_class:"col-sm-2 col-form-label" }}
                <div class="col-sm-10">
                    {{ form.username | add_field_class:"form-control" }}
                    <div id="username_help" class="form-text small text-muted">{{ form.username.help_text|safe }}</div>
                    <div id="username_errors" class="form-text small text-danger">{{ form.username.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <div id="password-edit" class="form-text"><a href="{% url 'password_change' %}">Change Password</a></div>
                </div>
            </div>
            <div class="form-group row">
                {{ form.email | label_with_class:"col-sm-2 col-form-label" }}
                <div class="col-sm-10">
                    {{ form.email | add_field_class:"form-control" }}
                    <div id="email_help" class="form-text small text-muted">{{ form.email.help_text|safe }}</div>
                    <div id="email_errors" class="form-text small text-danger">{{ form.email.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                {{ form.first_name | label_with_class:"col-sm-2 col-form-label" }}
                <div class="col-sm-10">
                    {{ form.first_name | add_field_class:"form-control" }}
                    <div id="first_name_help" class="form-text small text-muted">{{ form.first_name.help_text|safe }}</div>
                    <div id="first_name_errors" class="form-text small text-danger">{{ form.first_name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                {{ form.last_name | label_with_class:"col-sm-2 col-form-label" }}
                <div class="col-sm-10">
                    {{ form.last_name | add_field_class:"form-control" }}
                    <div id="last_name_help" class="form-text small text-muted">{{ form.last_name.help_text|safe }}</div>
                    <div id="last_name_errors" class="form-text small text-danger">{{ form.last_name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 ml-auto">
                    <input class="btn btn-primary" type="submit" value="Save">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 ml-auto form-text"><a href="{% url 'account_delete_confirm' %}" class="text-danger">Delete Account</a></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
