{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - Login{% endblock %}
{% block body %}

{% if next %}
<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-body">
        {% if user.is_authenticated %}
        Your account doesn't have access to this page. To proceed, please login with an account that has access.
        {% else %}
        Please login to see this page.
        {% endif %}
    </div>
</div>
{% endif %}


<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-header bg-dark text-white">Login</div>
    <div class="card-body">
        {% if form.errors %}
        <p class="text-danger">Your username and password didn't match.<br/>Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username | label_with_class:"col-form-label" }}
                {{ form.username | add_field_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.password | label_with_class:"col-form-label" }}
                {{ form.password | add_field_class:"form-control" }}
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</div>
{% endblock %}
