{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    <div class="card-body">
        <p>Password has been changed successfully.</p>
    </div>
</div>
{% endblock %}
