{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    <div class="card-body">
        <p>Forgotten your password?<br/>Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email | label_with_class:"col-form-label" }}
                {{ form.email| add_field_class:"form-control" }}
                <div id="email_help" class="form-text small text-muted">{{ form.email.help_text|safe }}</div>
                <div id="email_errors" class="form-text small text-danger">{{ form.email.errors }}</div>
            </div>
            <input class="btn btn-primary" type="submit" value="login">
        </form>
    </div>
</div>
{% endblock %}
