{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    <div class="card-body">
        <p>Your password has been set.  You may go ahead and log in now.</p>
        <a href="{% url 'login' %}">Log in</a>
    </div>
</div>
{% endblock %}
