{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    <div class="card-body">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
{% endblock %}
