{% extends "common/base.html" %}
{% load admin_form_filters %}
{% block title %}Dish Source - {{ title }}{% endblock %}
{% block body %}

<div class="card" style="margin: 1rem auto; width: 28rem;">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    <div class="card-body">
        {% if form.errors %}
        <p class="text-danger">{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}</p>
        {% endif %}
        <form method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-form-label" for="id_username">Username</label>
                <input id="id_username" class="form-control" type="text" placeholder="{{ user.username }}" disabled>
            </div>
            <div class="form-group">
                {{ form.old_password | label_with_class:"col-form-label" }}
                {{ form.old_password | add_field_class:"form-control" }}
                <div id="old_password_help" class="form-text small text-muted">{{ form.old_password.help_text|safe }}</div>
                <div id="old_password_errors" class="form-text small text-danger">{{ form.old_password.errors }}</div>
            </div>
            <div class="form-group">
                {{ form.new_password1 | label_with_class:"col-form-label" }}
                {{ form.new_password1 | add_field_class:"form-control" }}
                <div id="new_password1_help" class="form-text small text-muted">{{ form.new_password1.help_text|safe }}</div>
                <div id="new_password1_errors" class="form-text small text-danger">{{ form.new_password1.errors }}</div>
            </div>
            <div class="form-group">
                {{ form.new_password2 | label_with_class:"col-form-label" }}
                {{ form.new_password2 | add_field_class:"form-control" }}
                <div id="new_password2_help" class="form-text small text-muted">{{ form.new_password2.help_text|safe }}</div>
                <div id="new_password2_errors" class="form-text small text-danger">{{ form.new_password2.errors }}</div>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
