{% extends "common/base.html" %}
{% load dish_source_tags static %}

{% block title %}{% if new_recipe %}New Recipe{% else %}{{recipe.name}}{% endif %} - Dish Source{% endblock %}

{% block head %}
{% if "edit" in request.GET or new_recipe %}
<link rel="stylesheet" href="{% static 'dish_source/prosemirror.css' %}" />
{% endif %}
{% endblock %}

{% block body %}

{% if "edit" in request.GET or new_recipe %}
<!-- Include embedded data structures and notification container if loading the editor -->
{% if recipe_json %}
    {{ recipe_json|json_script:"recipe" }}
{% endif %}
{{ categories_json|json_script:"categories" }}
{{ recipe_tags_json|json_script:"recipe_tags" }}
{{ units_json|json_script:"unit_list" }}
{{ ingredients_json|json_script:"ingredient_list" }}
{{ sources_json|json_script:"sources_list" }}
{{ user_config|json_script:"user_config" }}
<script>
    {% if recipe_json %}
    recipe = JSON.parse(document.getElementById('recipe').textContent)
    {% else %}
    recipe = {}
    {% endif %}
    categories = JSON.parse(document.getElementById('categories').textContent)
    recipe_tags = JSON.parse(document.getElementById('recipe_tags').textContent)
    units = JSON.parse(document.getElementById('unit_list').textContent)
    ingredients = JSON.parse(document.getElementById('ingredient_list').textContent)
    sources = JSON.parse(document.getElementById('sources_list').textContent)
    user_config = JSON.parse(document.getElementById('user_config').textContent)
</script>
<div id="toast-container" style="position:absolute; right:0;"></div>
{% elif user.is_authenticated %}
<!-- Include the edit button if not loading the editor -->
<a href="?edit" id="recipe-edit-button" class="btn btn-dark btn-sm mt-2" type="button" style="float: right">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
    </svg>
    Edit Recipe
</a>
{% endif %}

<div {% if "edit" in request.GET or new_recipe %}id="recipe-edit-container"{% endif %}>
{% include "common/recipe_view.html" with recipe=recipe %}
</div>

{% if "edit" in request.GET or new_recipe%}
<!-- Include JS code for editor if rendering edit page-->
<script src="{% static 'dish_source/sifter.js' %}"></script>
<script src="{% static 'dish_source/prosemirror.js' %}"></script>
<script>
function require(name) {
  let id = /^prosemirror-(.*)/.exec(name), mod = id && PM[id[1].replace(/-/g, "_")]
  if (!mod) throw new Error(`Library lint isn't loaded`)
  return mod
}
</script>
<script src="{% static 'dish_source/utils.js' %}"></script>
<script src="{% static 'dish_source/pm_utils.js' %}"></script>
<script src="{% static 'dish_source/pm_editor_dropdown.js' %}"></script>
<script src="{% static 'dish_source/pm_editor_placeholder.js' %}"></script>
<script src="{% static 'dish_source/pm_mark_attr_editor.js' %}"></script>
<script src="{% static 'dish_source/recipe_editor_schema.js' %}"></script>
<script src="{% static 'dish_source/recipe_editor_commands.js' %}"></script>
<script src="{% static 'dish_source/recipe_edit.js' %}"></script>
{% endif %}
{% endblock %}

