/* Format recipe view/edit page */

ul.ingredient-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
}

ul.ingredient-list li {
  padding-left: 1rem;
}

ul.ingredient-list li.recipe-ingredient-item.first-sub-item::before {
    content: "or ";
    font-weight: bold;
    padding-left: 2rem;
}

ul.ingredient-list li.recipe-ingredient-item.sub-item::before {
    content: "and ";
    padding-left: 3.25rem;
}

li > p {
    margin-bottom: 0;
}

p.ingredient-section-header {
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 1rem;
}

ol.instruction-list {
  margin-bottom: 0.5rem;
  padding-left: 3rem;
}

p.instruction-section-header {
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 2rem;
}

div.recipe-section {
    margin-bottom: 1.5rem;
}

div.recipe-variation {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

p.variation-name {
    font-weight: bold;
    margin-bottom: 0;
}

#recipe-title {
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

#category {
    margin-bottom: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
}

#tags .badge {
    vertical-align: text-top;
}

#source, #yields, #prep-duration, #cook-duration, #total-duration {
    font-style: italic;
}

#source > a {
    color: $body-color;
}


#notes-wrapper {
    padding-left: 2rem;
}

mark {
    padding: 0;
    background: none;
}

blockquote {
	margin: 0 0 1rem;
	color: theme-color-level("secondary");
	background-color: $gray-100;
	border-left: $gray-400 solid 0.5rem;
	padding-left: 0.5rem;
}

blockquote::before, blockquote::after{
	color: theme-color-level("secondary", -5);
    font-size: 3rem;
    line-height: 0.1em;
}

blockquote::before{
	content: open-quote;
	float: left;
	padding-right: 0.25rem;
    margin-top: 0.35em;
}

blockquote::after{
	content: close-quote;
	float: right;
	padding-left: 0.25rem;
    margin-top: 0.55em;
}

blockquote>p {
    display: inline;
}

blockquote>blockquote {
    margin-left: 1.5rem;
}

