/* Format recipe prosemirror editor */

/* Style toast container div */
#toast-container {
    z-index: 16;
}

#toast-container {
    z-index: 16;
}

#recipe-edit-container {
    position: relative;
}

/* General editor styling */
.ProseMirror {
    line-height: 1.5;
    outline: none;
}

li.ProseMirror-selectednode.recipe-ingredient-item::after {
    left: -2px;
}

/*
.ingredient-input-container {
    display: block;
    border: 1px #DDD solid;
    border-radius: 5px;
    width: 100%;
}
*/

/* Format toolbar */
.recipe-edit-toolbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #4d4d4d;
    border-radius: 0.3rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0 5px 5px 5px;
    white-space: nowrap;
    display: block;
};

.recipe-edit-toolbar .dropdown-menu  {
    background: #4d4d4d;
    padding: 0;
    min-width: 0;
}

.recipe-edit-toolbar .btn-group {
    margin-top: 5px;
}

.recipe-edit-toolbar btn {
    opacity: 100%;
}

#recipe-save-button {
    float: right;
    position: relative;
    z-index: 2;
}

/* Editor error and warning notifications */
.recipe-edit-line-error {
	background-color: #fdd;
}
.recipe-edit-line-warning {
	background-color: #feb;
}

.recipe-edit-notification-icon {
    float: right;
    margin-right: 3px;
    position: relative;
}

.recipe-edit-error-icon svg {
    fill: #ff0000;
    stroke: black;
}
.recipe-edit-warning-icon svg {
    fill: #ffcb00;
    stroke: black;
}

.recipe-edit-notification-box {
	position: absolute;
	right: 1.25rem;
	top: 1px;
	list-style: none;
	padding: 0 2px 0 2px;
	font-size: small;
    border-color: theme-color-level("secondary", -5);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: none;
    width: max-content;
    z-index: 1;
}
.recipe-edit-notification-icon:hover .recipe-edit-notification-box {
    display: block;
}

ul.recipe-edit-notification-box li {
    padding-left: 0;
}
.recipe-edit-error-icon .recipe-edit-notification-box {
	background-color: #fdd;
}
.recipe-edit-warning-icon .recipe-edit-notification-box {
	background-color: #feb;
}

.attr-preview > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

/* Editor dropdown boxes */
.editor-dropdown {
    position: absolute;
    background-color: white;
    z-index: 1;
    border-color: theme-color-level("secondary", -5);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    cursor: default;
}

.editor-dropdown-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 15rem;
}

.editor-dropdown-edit-container {
	padding: 0.25rem;
	padding-bottom: 0;
	border-bottom: 1px solid #a7acb1;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.175);
    overflow: auto;
}

.editor-dropdown-edit-container>button {
    float: right;
}

.editor-dropdown-edit-container a {
    font-size: smaller;
    font-style: italic;
    text-decoration: underline;
}

.editor-dropdown-edit-container .btn {
    margin-bottom: 4px;
}

.editor-dropdown-edit-title {
    color: theme-color("primary");
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 6px;
}

.editor-dropdown-item {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    white-space: nowrap;
}

.editor-dropdown-item-selected {
    background-color: #dbdbdb;
}
.editor-dropdown-item-applied {
    background-color: theme-color("primary");
    font-weight: bold;
}

.editor-dropdown-item-new {
    font-style: italic;
}

.editor-dropdown-item-new>.badge {
    vertical-align: text-top;
}

/* Specific mark formatting */
#category br, #new-recipe-tag:not(:last-child) br {
    display: none;
}

#recipe-edit-container mark.ingredient-name {
    padding: 0;
    background-color: #c9e3ff;
}

#recipe-edit-container mark.unit-name {
    padding: 0;
    background-color: #c8e4c6;
}

//.ingredient-input-container .recipe-ingredient-item:hover::before {
//    content: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-grip-vertical' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/%3E%3C/svg%3E");
//    position: absolute;
//    left: 0;
//}

#recipe-edit-container .placeholder {
    font-style: italic;
    font-weight: normal;
    opacity: 50%;
}

