/* Set default theme colors */
$theme_colors: (
    dark: #094727,
    primary: #84caa6
);

/* Tweak the navigation link color */
$white:    #fff;
$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: rgba($white, .90);

