{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}{% endblock %}
        {% include "common/head.html" %}
        <title>{% block title %}Dish Source{% endblock %}</title>
    </head>
    <body>
        {% include "common/navbar.html" %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
