{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'dish_source/logo.svg' %}" width=50 alt="Dish Source">
        Dish Source
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recipes</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'index' %}">All</a>
                    <div class="dropdown-divider"></div>
                    <header class="dropdown-header">Categories</header>
                    {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'category' category_id=category.id slug=category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <header class="dropdown-header">Tags</header>
                    {% for tag in recipe_tags %}
                    <a class="dropdown-item" href="#">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ingredients</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'index' %}">All</a>
                    <div class="dropdown-divider"></div>
                    <header class="dropdown-header">Tags</header>
                    {% for tag in ingredient_tags %}
                    <a class="dropdown-item" href="#">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new-recipe' %}">New Recipe</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% if user.first_name or user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
